img{
	width: 30%;
	float: left;
	margin: 1.66%;
}
h1{
	text-align: center;
	color: white;
	font-family: raleway;
	border-bottom: 2px solid white;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	width: 30%;
}
body{
	background-color: black;
}